
/*General*/

.my-bg-light-blu{

    background-color: #1B72E8;
}

.my-bg-blu{

    background-color: #165BBA;
}
header{
    min-height: 70px;
    padding: 10px 0;
}

.logo-small{
    width: 50px;
    height: 50px;
}


.my-container{

    padding-top: 70px;
    
}

.my-aside{

    width: 50px;
    background-image: url(../img/sidebar-bg.png);
    background-color:#051E34;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-top: 70px;
    
}

.container-content{

    width: 100%;
    margin-left: 50px;
}

.img-avatar{

    width: 20px;
}

.my-cell{

    width: 40%;
    
}

/*Hover*/

.aside-top a:hover{

    background-color: lightgray;
}

/*Responsive*/

@media screen and (min-width:992px) {
    
    .my-aside{

        width: 150px;
    }

    .container-content{

        margin-left: 150px;
    }

    
    
}